* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: 'Inter', sans-serif;
  color: #166534;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  opacity: 0.8;
}
